@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

label {
    font-size: 0.7rem;
}
body {
    font-family: 'Roboto', 'sans-serif';
}

input.form-control, input.form-control:focus {
    background-color: #f0f0ff;
}

.error {
    color: red;
    font-size: 1rem;
}
